
:root{
    --cor0: #915750;
    --cor1: #495566;
    --cor2: #BCE632;
    --cor3: #E64732;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body, html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--cor0)
}

div#menu{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div > iframe{
    position: relative;
    top: 4px;
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}

div > section{
    padding: 10px;
    background-color: white;
    width: 300px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.288);
    text-align: justify;
}

div > section > h1{
    text-align: center;
    margin-bottom: 10px;
}

div.user , div.pass{
    background-color: var(--cor3);
    height: 42px;
    margin: 5px 0px;
    border-radius: 8px;
}

input.user , input.pass{
    border-radius: 8px;
    height: 34px;
    width: 225px;
    position: relative;
    top: -6px;
    left: -5px;
    font-size: 20px;
    border: 0px;
    background-color: rgb(117, 138, 168);
}

input.user::placeholder , input.pass::placeholder{
    color: white;
}

input.user:focus , input.pass:focus{
    background-color: rgb(218, 233, 255);
}

input.user:focus::placeholder , input.pass:focus::placeholder{
    color: transparent;
}

span{
    position: relative;
    top: 6px;
    left: -10px;
    padding-left: 15px;
    color: white;
}

.material-symbols-rounded {
    font-size: 35px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

.material-symbols-outlined {
    font-size: 35px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

#entrar , #esquece{
    margin: auto;
    height: 40px;
    width: 280px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#entrar{
    background-color: var(--cor1);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border: 0px;
}

#entrar:hover{
    background-color: #232931;
    animation-duration: 0.2s;
}

#esquece{
    color: var(--cor1);
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid #232931;
}

#esquece:hover{
    background-color: var(--cor1);
    color: white;
    animation-duration: 0.2s;
    border: 2px solid #232931;
}


